repos:
-   repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
    -   id: black
        language_version: python3.11

-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.2
    hooks:
    # Run the linter.
    - id: ruff-check
      args: [ --fix ]


-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.16.1
    hooks:
    -   id: mypy
        args: [--install-types, --non-interactive]

-   repo: https://github.com/python-poetry/poetry
    rev: 2.1.3
    hooks:
    -   id: poetry-check

-   repo: https://github.com/bridgecrewio/checkov
    rev: 3.2.447
    hooks:
      - id: checkov
        name: checkov (terraform)
        entry: checkov --framework terraform --quiet
        language: python
        files: '\.tf$'
