repos:
-   repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
    -   id: black
        language_version: python3.13

-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
    # Run the linter.
    - id: ruff-check
      args: [ --fix ]

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.0
    hooks:
    -   id: mypy
        args: [--install-types, --non-interactive]

-   repo: https://github.com/python-poetry/poetry
    rev: 2.2.1
    hooks:
    -   id: poetry-check
