services:
  # ─── Postgresql Database ────────────────────────────────────────────────────────
  postgresql:
    image: postgres:15
    container_name: postgresql
    env_file:
      - .env
    ports:
    - "5432:5432"
    volumes:
      - ./data/postgresql:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

  # ─── Dagster Webserver ────────────────────────────────────────────────
  dagster-webserver:
    build:
      context: .
      dockerfile: src/dagster/Dockerfile
    container_name: dagster_webserver
    env_file:
      - .env
    environment:
      - DAGSTER_HOME=/opt/dagster/dagster_home
      - DAGSTER_DATABASE_URL=postgresql+psycopg2://${POSTGRESQL_DAGSTER_USER}:${POSTGRESQL_DAGSTER_PASSWORD}@postgresql:5432/${POSTGRESQL_DAGSTER_DATABASE}
    volumes:
      - ./data/dagster:/opt/dagster/dagster_home
      - ./src/dagster:/app/src/dagster
      - ./src/gocardless:/app/src/gocardless
      - ./src/postgresql:/app/src/postgresql
      - ./src/utils:/app/src/utils
    entrypoint:
      - dagster-webserver
      - -h
      - '0.0.0.0'
      - -p
      - '3000'
    ports:
      - "3000:3000"
    depends_on:
      postgresql:
        condition: service_healthy

  # ─── Dagster Daemon ───────────────────────────────────────────────────────────
  dagster-daemon:
    build:
      context: .
      dockerfile: src/dagster/Dockerfile
    container_name: dagster_daemon
    env_file:
      - .env
    environment:
      - DAGSTER_HOME=/opt/dagster/dagster_home
      - DAGSTER_DATABASE_URL=postgresql+psycopg2://${POSTGRESQL_DAGSTER_USER}:${POSTGRESQL_DAGSTER_PASSWORD}@postgresql:5432/${POSTGRESQL_DAGSTER_DATABASE}
    volumes:
      - ./data/dagster:/opt/dagster/dagster_home
      - ./src/dagster:/app/src/dagster
      - ./src/gocardless:/app/src/gocardless
      - ./src/postgresql:/app/src/postgresql
      - ./src/utils:/app/src/utils
    entrypoint:
      - dagster-daemon
      - run
      - -w
      - /app/workspace.yaml
    depends_on:
      dagster-webserver:
        condition: service_started

  # ─── Streamlit Finance App ────────────────────────────────────────────────────
  streamlit:
    build:
      context: .
      dockerfile: src/streamlit/Dockerfile
    container_name: finance_app
    volumes:
      - ./src:/app/src
    env_file:
      - .env
    ports:
      - "8501:8501"
    depends_on:
      - postgresql
      - dagster-webserver
